<!DOCTYPE html>
<body bgcolor="AliceBlue">
<html>
  <head>
    <title>Culture Taste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .aligncenter {
         clear: both;
         display: block;
         margin:auto;
         }
    </style>
  </head>
  <body>
    <div class="container">
      <div align = "center" sytle = "border:2px">
      <h1><font size="8px">How do people on the other side of the world think about ...</font></h2>
      <br>
      </div>
      <hr color = "0000cc"/>
      <div align = "left">
      <p><font size="6px">-Do people coming from different culture background have similar taste for things like movies?</font> </p></div>
      <img class="aligncenter" src= "{{logo}}" align = "middle"/>
      <p><div align = "center" sytle = "border:2px"><font size = "5px"> Here is my comments:&#9728 </font></div></p>
      <img class="aligncenter" src= "{{img}}" align = "middle"/>
      <p><div align = "center" sytle = "border:2px"><font size = "5px"> Here is my comments:&#9728 </font></div></p>
      <img class="aligncenter" src= "{{img2}}" align = "middle"/>
      <p><div align = "center" sytle = "border:2px"><font size = "5px"> Here is my comments:&#9728 </font></div></p>
      <div align = "center" 
      <form action="http://www.adogspurposemovie.com">
        <font size = "5px" color = "red">So, what are you curious about?</font><br><br>
       <input type="text" name="name" style = "font-size:20px;height:40px;width:200px" value="A Dogs Purpose"><br><br>
       <input type="submit" style = "font-size:20px;height:40px;width:200px"  value="Let's try">
      </form></div>
      <p>Click <a href="https://github.com/sadahanu/Heroku_tryout">here</a> for source code!</p>
    </div>
  </body>
</html>

